<div class="main-div">
  <mat-card>

    <mat-card-header>
      <mat-card-title class="school-name">School Name</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formLogin" (ngSubmit)="submit()">
        <img mat-card-image class="logo" src="assets/images/getShl.png">

        <mat-form-field class="custom-input">
          <input matInput formControlName="username">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix fontIcon="person"></mat-icon>
          <mat-error [hidden]="username.valid">
            Username it's mandatory.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" autocomplete="none" formControlName="password">
          <mat-label> Password </mat-label>
          <mat-icon matPrefix fontIcon="key"></mat-icon>
          <mat-error [hidden]="password.valid">
            Password it's mandatory.
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="formLogin.invalid">Ingresar</button>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-divider></mat-divider>
      <P class="banner-shlomo">Power by <a href="https://shlomo.us/" target="_blank">shlomo.us</a></P>
    </mat-card-footer>

  </mat-card>
</div>