.logo {
    width: 40px;
    height: 40px;
    margin-right: 2%;
}

mat-toolbar {
    height: auto;
    background-color: #343a40;
}

.menuNav {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(222, 214, 214);
    border: none;
    padding: 10px 10px;
}

.menuNav:hover {
    background-color: #464d55;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}